@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">API Resources</h1>
</div>

<h4><a href="https://iextrading.com/developer/docs/" target="_blank">API Resource Page</a></h4>
<br>
<h6>All HTTP request endpoints support a filter: ?filter=symbol,volume,lastSalePrice</h6>
<h6>Also, try formatting: ?format=csv</h6>
<br>
<h6><a href="https://api.iextrading.com/1.0/ref-data/symbols" target="_blank">All symbols</a></h6>
<h6><a href="https://iextrading.com/developer/docs/#symbols" target="_blank">API Reference for symbol</a></h6>
<br>
<p><a href="https://api.iextrading.com/1.0/stock/aapl/batch?types=quote,news,chart&range=1m&last=10" target="_blank">Batch Example for Apple</a></p>
<p><a href="https://iextrading.com/developer/docs/#batch-requests" target="_blank">API Reference for Apple</a></p>
<br>
<p><a href="https://api.iextrading.com/1.0/stock/market/batch?symbols=aapl,fb&types=quote,news,chart&range=1m&last=5" target="_blank">Multi Batch Example</a></p>
<p><a href="https://iextrading.com/developer/docs/#batch-requests" target="_blank">API Reference for Multi Batch</a></p>
<br>
<p><a href="https://api.iextrading.com/1.0/tops?symbols=SNAP,fb,msft" target="_blank">TOPS realtime request of all/certain securities</a></p>
<p><a href="https://iextrading.com/developer/docs/#tops" target="_blank">API Reference for TOPS</a></p>
<br>
<p><a href="https://api.iextrading.com/1.0/stock/market/crypto" target="_blank">Crypto</a></p>
<p><a href="https://iextrading.com/developer/docs/#crypto" target="_blank">API Reference for Crypto</a></p>
<br>
<p><a href="https://api.iextrading.com/1.0/stock/aapl/largest-trades" target="_blank">Apples Largest Trades For Today</a></p>
<p><a href="https://iextrading.com/developer/docs/#largest-trades" target="_blank">API Reference for Apple Largest Trades</a></p>
<br>
<p><a href="https://api.iextrading.com/1.0/stock/aapl/stats" target="_blank">Apple Stats</a></p>
<p><a href="https://iextrading.com/developer/docs/#key-stats" target="_blank">API Reference for Apple Stats</a></p>
<br>
<p><a href="https://api.iextrading.com/1.0/stock/aapl/logo" target="_blank">Apple Logo URL</a></p>
<p><a href="https://iextrading.com/developer/docs/#logo" target="_blank">API Reference for Apple Logo</a></p>
<br>
<p><a href="https://api.iextrading.com/1.0/stock/aapl/news" target="_blank">Get Apple News</a></p>
<p><a href="https://iextrading.com/developer/docs/#news" target="_blank">API Reference for News</a></p>
<br>
<p><a href="https://api.iextrading.com/1.0/stock/aapl/ohlc" target="_blank">Offical Open and Close</a></p>
<p><a href="https://iextrading.com/developer/docs/#ohlc" target="_blank">API Reference for Offical Open and Close</a></p>
<br>
<p><a href="https://api.iextrading.com/1.0/stock/aapl/previous" target="_blank">Previous Day Apple</a></p>
<p><a href="https://iextrading.com/developer/docs/#previous" target="_blank">API Reference for Previous Day Apple</a></p>
<br>
<p><a href="https://api.iextrading.com/1.0/stock/aapl/price" target="_blank">Apple Price</a></p>
<p><a href="https://iextrading.com/developer/docs/#price" target="_blank">API Reference for Apple Price</a></p>
<br>
<p><a href="https://api.iextrading.com/1.0/stock/aapl/relevant" target="_blank">Relavant stocks in the sector</a></p>
<p><a href="https://iextrading.com/developer/docs/#relevant" target="_blank">API Reference for Relavant stocks in the sector</a></p>
<br>
<p><a href="https://api.iextrading.com/1.0/stock/market/sector-performance" target="_blank">Sector Performance</a></p>
<p><a href="https://iextrading.com/developer/docs/#sector-performance" target="_blank">API Reference for Sector Performance</a></p>
<br>
<p><a href="https://api.iextrading.com/1.0/stock/market/upcoming-ipos" target="_blank">IPO Calendar</a></p>
<p><a href="https://iextrading.com/developer/docs/#ipo-calendar" target="_blank">API Reference for IPO Calendar</a></p>
<br>
<p><a href="https://api.iextrading.com/1.0/stock/aapl/earnings" target="_blank">Apples Earning</a></p>
<p><a href="https://iextrading.com/developer/docs/#earnings" target="_blank">API Reference for Apples Earning</a></p>
<br>
<p><a href="https://api.iextrading.com/1.0/stock/aapl/dividends/1y" target="_blank">Dividends</a></p>
<p><a href="https://iextrading.com/developer/docs/#dividends" target="_blank">API Reference for Dividends</a></p>
<br>
<p><a href="https://api.iextrading.com/1.0/stock/msft/company" target="_blank">Company Info</a></p>
<p><a href="https://iextrading.com/developer/docs/#company" target="_blank">API Reference for Company Info</a></p>
<br>
<p><a href="https://api.iextrading.com/1.0/stock/aapl/chart" target="_blank">Charts</a></p>
<p><a href="https://iextrading.com/developer/docs/#chart" target="_blank">API Reference for Charts</a></p>
<br>
<p><a href="https://api.iextrading.com/1.0/market" target="_blank">Markes</a></p>
<p><a href="https://iextrading.com/developer/docs/#market" target="_blank">API Reference for Markets</a></p>