@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<br>
<a asp-controller="Home" asp-action="APIResource">API Resource Page</a>  
<br>
<a asp-controller="IEX" asp-action="Index">IEX Index Page</a>  