@{
    ViewData["Title"] = "IEX Index";
}

<div class="text-center">
    <h1 class="display-4">IEX Index</h1>
</div>
<br>

<a asp-controller="IEX" asp-action="LargestTradesTodayTest">Largest Trades Today Test Page</a>  
<br>
<a asp-controller="IEX" asp-action="OfficalOpenAndCloseTest">Offical Open And Close Test Page</a>   
<br>
<a asp-controller="IEX" asp-action="PreviousDayTest">Previous Day Test Page</a> 
<br>
<a asp-controller="IEX" asp-action="StockStatsTest">Stock Stats Test Page</a> 
<br>
<a asp-controller="IEX" asp-action="LogoTest">Logo Test Page</a> 
<br>
<a asp-controller="IEX" asp-action="EarningTest">Earning Test Page</a>
<br>
<a asp-controller="IEX" asp-action="ChartTest">Chart Test Page</a>
<br>
<a asp-controller="IEX" asp-action="MarketsTest">Markets Test Page</a>
<br>