@{
    ViewData["Title"] = "TOPS Test";
}
@using System;
@using System.Linq;
@using System.Diagnostics;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Http;
@using System.Collections.Generic;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.AspNetCore.Identity;
@using System.Net;
@using System.IO;
@using Newtonsoft.Json;

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <meta http-equiv="refresh" content="2"> -->
<div class="text-center">
    <h1 class="display-4">TOPS Test</h1>
</div>
<br>
<input type="hidden" id="customInput1" data-value="@ViewBag.TOPSJson" />
<div class="grid-container">
    <div class="grid-item">
        <p id="MSFT"></p>
    </div>
    <div class="grid-item">
        <p id="AAPL"></p>
    </div>
    <div class="grid-item">
        <p id="AMZN"></p>
    </div>
    <div class="grid-item">
        <p id="FB"></p>
    </div>
    <div class="grid-item">
        <p id="AMD"></p>
    </div>
    <div class="grid-item">
        <p id="INTC"></p>
    </div>
</div>
<script>
$(document).ready(function() {
	const loadData = () => {
		var stocks = [];
		var symbols = ['MSFT'];//, 'AAPL', 'FB', 'AMZN', 'AMD', 'INTC'];

		symbols.forEach(symbol => makeAjaxCall(symbol));

		function makeAjaxCall(param) {
			$.ajax({
				type: "GET",
                //url: "/IEX/wwe/",
                url: "https://api.iextrading.com/1.0/tops?symbols=" + param,
				success: function (result) {
                    $.each(result, function(i, value) {
                        console.log(value);
                        $("#" + value.symbol).html("<div class='"+ value.symbol +"'>" + " " + "<b>Symbol: " + value.symbol + "</b>" + "<br>Bid Price: " + value.bidPrice + "<br>Ask Price: " + "<span class='change'>" + value.askPrice + "</span>" + "<br>Volume: " + value.volume + "</div>");
                    });
                    var counter = 0;
                    $('.change').each(function() {
                        counter++;
                        //console.log(parseFloat($(this).text()));
                        
                        //console.log(localStorage.getItem(counter))
                        if(parseFloat($(this).text()) < localStorage.getItem(counter))
                        { 
                            $(this).css('color','#E60000'); 
                        }
                        else if(parseFloat($(this).text()) > localStorage.getItem(counter))
                        { 
                            $(this).css('color','#32cd32'); 
                        }
                        else
                        {
                            $(this).css('color','#000000');
                        }
                        localStorage.setItem(counter, this);
                    });
				}
			});
        }	
    };
    
// const loadData = () => {
//         $.ajax({
// 			type: "GET",
//             url: "/IEX/wwe",
//             success: function (result) {
//                 $.each(result, function(i, value) {
//                     console.log(result);
//                     //$("#" + value.symbol).html("<div class='"+ value.symbol +"'>" + " " + "<b>Symbol: " + value.symbol + "</b>" + "<br>Bid Price: " + value.bidPrice + "<br>Ask Price: " + "<span class='change'>" + value.askPrice + "</span>" + "<br>Volume: " + value.volume + "</div>");
//                 });
//             }
//         });
//     }
// 	const TIME = 2 * 1000;
// 	$(() => {
// 		loadData();
// 		setInterval(loadData, TIME);
// 	});
});
</script>

@foreach(var i in @ViewBag.TOPS)
{
    @i.symbol
    <br>
}